.Li{
    font-size:16px;
}
.Li:hover{
    font-size: 16px;
    background-color:rgb(218, 242, 252);
    border-style:none none none solid;
    border-left-width:3px;
    border-color:rgb(104, 171, 247);
}
.li:active{
    color: yellow;
    font-size: 25px;
}
.aaa{
    font-size:30px;
    color:red;
}